.editor {
  display: flex;
  padding: 10px;
  background-color: #efefef;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  margin-bottom: 0!important;
}

.textField {
  flex: 1;
}

.sendBtn {
  height: 100%;
}
